@{
    ViewBag.Title = "About";
}
<link href="~/Content/CSS/about.css" rel="stylesheet" />

<div class="container-fluid" style="padding-bottom:26px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 justify-content-lg-center">
                <img src="~/Content/img/banner.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4>About Us</h4>
        </div>
        <div class="col-sm-10">
            <p id="text-about">
                Joilie Bakery, thành lập vào năm 2004. Với sứ mệnh mang lại niềm vui và hương vị độc đáo cho mọi người,
                Joilie Bakery luôn chú trọng đến việc sáng tạo và cải tiến các sản phẩm của mình. Joilie Bakery không ngừng
                đổi mới để mang đến những trải nghiệm tuyệt vời nhất cho khách hàng. Mỗi chiếc bánh tại đây đều được làm từ
                nguyên liệu tươi ngon và tự nhiên, đảm bảo an toàn và hương vị tuyệt hảo. Thực đơn phong phú với đủ loại
                bánh từ bánh kem, bánh cupcake, đến bánh macaron, mỗi sản phẩm đều mang đậm dấu ấn sáng tạo và tâm huyết của
                những người thợ làm bánh lành nghề.

                Hiệu bánh còn đặc biệt chú trọng đến việc thiết kế và trang trí bánh, nhằm mang lại vẻ đẹp hoàn hảo và sự
                tinh tế trong từng chi tiếtVới phương châm "Mang đến niềm vui qua từng chiếc bánh". Hãy để chúng tôi làm cho
                mỗi khoảnh khắc của bạn thêm phần đặc biệt và đáng nhớ. Chúng tôi luôn sẵn sàng phục vụ và làm hài lòng bạn
                với những món bánh tuyệt hảo, được làm từ trái tim và tâm huyết của đội ngũ thợ làm bánh tài năng.

                Hãy thưởng thức và cùng chia sẻ niềm vui với chúng tôi !

                Trân trọng,

                Joilie Bakery.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4>Contact</h4>
        </div>
        <div class="col-sm-10">
            <p id="text-contact">
                <div class="row">
                    <div class="col-sm-12">
                        <p> Hotline: <span id="phone-text"> 180031084</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p> Giải quyết khiếu nại: <span id="phone-text"> 26101206204</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p> Email: <span id="email-text"> Jolliebarkery@gmail.com </span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            Chi Nhánh 1: 215 Điện Biên Phủ, P.15, Q. Bình Thạnh, Thành phố Hồ Chí Minh 700000 <br /> <br />
                            Chi Nhánh 2: 36/70 Nguyễn Gia Trí, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh 700000
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p>Ngày làm việc: Tất cả ngày trong tuần/lễ</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p>Thời gian làm việc: 7h35 AM - 8h PM </p>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4>Terms & Conditions</h4>
        </div>
        <div class="col-sm-10">
            <p id="text-term">
                Thông tin của khách hàng thông qua hệ thống bảo mật của website, không sử dụng nó vì mục đích thương mại hay bất cứ mục đích nào khác. Chúng tôi sử dụng các biện pháp an ninh bảo mật thông tin để chống mất mát, nhầm lẫn hoặc thay đổi dữ liệu trong hệ thống.
                Chúng tôi sử dụng những thông tin thu thập qua website để tạo môi trường mua sắm an toàn, tiện lợi, chuyên nghiệp và nâng cao chất lượng dịch vụ chăm sóc khách hàng. Ngoài ra, những thông tin cũng chỉ được chúng tôi dùng trong việc giải quyết các vấn đề liên quan tới tranh chấp phát sinh trong việc mua bán, thanh toán qua website, và ngăn chặn những hoạt động vi phạm pháp luật Việt Nam.
            </p>
        </div>
    </div>
</div>